body{background:url(../../img/index/bg.png); border:0px; margin:0px; background-size:contain;overflow-y:scroll; overflow-x:hidden; }
p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
html.agent-ie p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
h2{font-size:20px;line-height:28px;letter-spacing:2px; }
h1{font-size:34px;line-height:40px;letter-spacing:2px;}
@media screen and (min-width:1400px){
	
	p{font-size:18px;line-height:24px;letter-spacing:5px;}
	h2{font-size:30px;line-height:38px; }
	h3{font-size:38px;line-height:38px; }
	h1{font-size:44px;line-height:50px;}
}
@media screen and ( max-width:450px ) {
	h2{font-size:18px;line-height:28px; }
	h3{font-size:22px;line-height:28px; font-weight:500;}
	h1{font-size:32px;line-height:40px;}
}


@-webkit-keyframes p201509070237
{
	0% {opacity:0;-webkit-transform:translate(-30px , 0px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070237
{
	0% {opacity:0;transform:translate(-30px , 0px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@-webkit-keyframes p201509070238
{
	0% {opacity:0;-webkit-transform:translate(0px , 20px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070238
{
	0% {opacity:0;transform:translate(0px , 20px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}

.content01{width:900px;margin:140px auto 30px  auto;height:auto;overflow:hidden; background-color:rgba(255,255,255,0.4); border:2px dashed #eaaf3c; }
.content01 .center_area{width:100%;float:right;background:url(../../img/default/line2.png) top left repeat-y; padding-left:40px;min-height:550px;}





@media screen and (min-width:1400px){


	.content01{width:1100px;margin:40px auto 30px  auto;height:auto;overflow:hidden;padding-top:120px;}
	.content01 .center_area{width:100%;float:right;background:url(../../img/default/line2.png) top left repeat-y; padding-left:40px;min-height:600px;}

		
}

@media screen and ( max-width:960px ) and (min-width: 450px) {
	.top_banner_box{width:100%; height:300px;position:relative;margin-top:-30px; box-shadow:-10px -55px 10px rgba(0,0,0,0.5);}

	.content01{width:700px;margin:40px auto 0px  auto;height:auto;overflow:hidden;padding-top:120px;}
	.content01 .center_area{width:100%;float:right;background:url(../../img/default/line2.png) top left repeat-y; padding-left:40px;min-height:600px;}



}

@media screen and (max-width: 450px) {

	.content01{width:300px;margin:40px auto 80px  auto;height:auto;overflow:hidden;padding-top:80px;}
	.content01 .center_area{width:100%;float:right;background:url(../../img/default/line2.png) top left repeat-y; padding-left:40px;min-height:600px;}

	
	
}

