body{background:url(../../img/index/bg.png) fixed; border:0px; margin:0px; background-size:contain;overflow-y:scroll; overflow-x:hidden; }
p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
html.agent-ie p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
h2{font-size:20px;line-height:28px;letter-spacing:2px; }
h1{font-size:34px;line-height:40px;letter-spacing:2px;}
@media screen and (min-width:1400px){
	
	p{font-size:18px;line-height:24px;letter-spacing:5px;}
	h2{font-size:30px;line-height:38px; }
	h3{font-size:38px;line-height:38px; }
	h1{font-size:44px;line-height:50px;}
}
@media screen and ( max-width:450px ) {
	
	h2{font-size:18px;line-height:28px; }
	h3{font-size:22px;line-height:28px; font-weight:500;}
	h1{font-size:32px;line-height:40px;}
}
@font-face{ font-family:bb; src: url(../../fonts/bb.ttf) format("truetype") ;}
.top_banner_box{width:100%; height:237px;position:relative;margin-top:70px;background:url(../../img/about/bg.png) bottom center; background-size:cover; overflow:hidden;}
.top_banner_box .text_box{width:400px; height:60px; margin:50px auto 0 auto; padding-left:300px; }
.top_banner_box h2{font-size:18px;letter-spacing:2px;color:#74301c;line-height:22px;font-family:"bb";-webkit-animation:p201509070238 1.6s ;animation: p201509070238 1.6s  ;}
	
@-webkit-keyframes p201509070237
{
	0% {opacity:0;-webkit-transform:translate(-30px , 0px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070237
{
	0% {opacity:0;transform:translate(-30px , 0px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@-webkit-keyframes p201509070238
{
	0% {opacity:0;transform:translate(0px , 20px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@keyframes p201509070238
{
	0% {opacity:0;transform:translate(0px , 20px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@media screen and ( max-width:1024px ) and (min-width: 960px) {

	.top_banner_box{width:100%; height:237px;position:relative;margin-top:60px;background:url(../../img/about/bg.png)  bottom left ;background-size:cover;  }
	
	

}
@media screen and ( max-width:959px ) and (min-width: 700px) {

	.top_banner_box{width:100%; height:237px;position:relative;margin-top:60px;background:url(../../img/about/bg.png)  bottom left ;background-size:cover;  }


}
@media screen and (max-width: 700px) {

	.top_banner_box{width:100%; height:237px;position:relative;margin-top:-20px;background:url(../../img/about/bg.png) bottom center; background-size:cover; overflow:hidden;}
	.top_banner_box .text_box{width:300px; height:60px; margin:20px auto 0 auto; padding-left:20px; }
	
}

.content01{width:960px;margin:40px auto 0px  auto;padding-bottom:40px;position:relative; z-index:1; }
.content01 .shadow_bg{width:920px; height:1250px; background:url(../../img/contact/bg.png);position:absolute; top:105px; left:0px; background:url(../../img/contact/bg.png); opacity:0.8;}
.content01  .center_area{width:900px;background:#f9f9fa; background-size:contain; height:1150px; padding-bottom:50px; margin:0 auto;  margin-top:-150px; position:relative;z-index:1;  }
.content01  .center_area .line{position:absolute;}
.content01  .center_area .line.left{top:0px;left:-15px;height:100%;}
.content01  .center_area .line.right{top:0px;right:-12px;height:100%; z-index:2;}
.content01  .center_area .line.top{top:-10px;left:0px;width:100%; z-index:1px;}
.content01  .center_area .line.bottom{bottom:-13px;left:0px;width:100%; z-index:3;}
.content01  .center_area .big_title{position:absolute;  width:200px; top:-37px; left:80px;}

.content01  .center_area .title_box{width:80%; margin:0px auto 0px auto; padding-top:80px;   }
.content01  .center_area .title_box .center{width:265px; margin: 0 auto; font-size:24px; letter-spacing:1px; color:#221814; padding-left:10px; }
.content01  .center_area .title_box .center img{ margin:0 8px;}


.content01  .center_area .text_box{width:80%;margin:0 auto; padding:35px 0px 35px 0px;  background:url(../../img/default/line.png) bottom left repeat-x;}
.content01  .center_area .text_box p{font-size:16px; letter-spacing:3px;line-height:24px;}

.content01  .center_area  .contact_box{width:80%;margin:0 auto;padding:35px 0px 0px 0px; overflow:hidden;}
.content01  .center_area  .contact_box .title{width:100%; margin-bottom:30px; margin-left:30px;}
.content01  .center_area  .contact_box .box{float:left; padding:0 30px; border-left:1px solid #c6c6c6; height:50px;}
.content01  .center_area  .contact_box .box:nth-of-type(3) .text{ margin-top:10px;} 
.content01  .center_area  .contact_box .box:nth-of-type(4) .text{ margin-top:10px;} 
.content01  .center_area  .contact_box .box:nth-of-type(3) img{ margin-top:10px;} 
.content01  .center_area  .contact_box .box:nth-of-type(4) img{ margin-top:10px;} 
.content01  .center_area  .contact_box .box img{width:20px;float:left;  margin-right:10px;}
.content01  .center_area  .contact_box .box .text{float:left; font-size:16px;}

.content01  .center_area  .map_box{width:95%; margin:0px auto 0px auto; padding:35px 0px 35px 0px;  }
.content01  .center_area  .map_box img{width:100%;  }

#map{display:none;}

@media screen and ( max-width:1024px ) and (min-width: 960px) {

	.content01{width:830px;margin:40px auto 0px  auto;padding-bottom:40px;position:relative; z-index:1; }
	.content01 .shadow_bg{width:790px; height:1150px; background:url(../../img/contact/bg.png);position:absolute; top:105px; left:0px; background:url(../../img/contact/bg.png); opacity:0.8;}
	.content01  .center_area{width:770px;background:#f9f9fa; background-size:contain; height:1050px; padding-bottom:50px; margin:0 auto;  margin-top:-150px; position:relative;z-index:1;  }

	.content01  .center_area  .contact_box .title{width:100%; margin-bottom:30px; margin-left:30px;}
	.content01  .center_area  .contact_box .box{float:left; padding:0 15px; border-left:1px solid #c6c6c6; height:50px;}
	.content01  .center_area  .contact_box .box:nth-of-type(3) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(4) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(3) img{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(4) img{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box img{width:20px;float:left;  margin-right:10px;}
	.content01  .center_area  .contact_box .box .text{float:left;}

	.content01  .center_area  .map_box{width:95%; margin:0px auto 0px auto; padding:35px 0px 35px 0px;  }
	.content01  .center_area  .map_box img{width:100%;  }
		
	

}

@media screen and ( max-width:959px ) and (min-width: 700px) {

	.content01{width:700px;margin:40px auto 0px  auto;padding-bottom:40px;position:relative; z-index:1; }
	.content01 .shadow_bg{width:660px; height:1120px; background:url(../../img/contact/bg.png);position:absolute; top:105px; left:0px; background:url(../../img/contact/bg.png); opacity:0.8;}
	.content01  .center_area{width:640px; height:980px; margin:0 auto;  margin-top:-150px; position:relative;z-index:1;  }
	.content01  .center_area .big_title{position:absolute;  width:180px; top:-40px; left:65px;}
	
	.content01  .center_area .title_box{width:85%;padding-top:50px;    }

	.content01  .center_area .text_box{width:85%;}
	.content01  .center_area  .contact_box{width:85%;}
	
	.content01  .center_area  .contact_box .title{width:100%; margin-bottom:30px; margin-left:0px;}
	.content01  .center_area  .contact_box .box{float:left; padding:0 22px; border-left:1px solid #c6c6c6; height:80px;}
	.content01  .center_area  .contact_box .box:nth-of-type(2) { padding:0 20px 0 0px; } 
	.content01  .center_area  .contact_box .box:nth-of-type(2) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(3) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(4) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(3) img{ margin-top:0px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(4) img{ margin-top:0px;} 
	.content01  .center_area  .contact_box .box img{ display:block;width:20px;float:none;  margin-right:auto; margin:0 auto;}
	.content01  .center_area  .contact_box .box .text{float:none; text-align:center;}	
	

}

@media screen and (max-width: 700px) {

	.content01{width:100%;margin:40px auto 0px  auto;padding-bottom:40px;position:relative; z-index:1; }
	.content01 .shadow_bg{ display:none;}
	.content01  .center_area{width:90%; height:auto; margin:0 auto;  margin-top:-150px; position:relative;z-index:1;  }
	.content01  .center_area .big_title{position:absolute;  width:180px; top:-40px; left:65px;}
	
	.content01  .center_area .line{position:absolute;}
	.content01  .center_area .line.left{top:0px;left:-10px;height:100%;}
	.content01  .center_area .line.right{top:0px;right:-12px;height:100%; z-index:2;}
	.content01  .center_area .line.top{top:-8px;left:0px;width:100%; height:12px; z-index:1px;}
	.content01  .center_area .line.bottom{bottom:-11px;left:0px;width:100%;height:12px; z-index:3;}
	.content01  .center_area .big_title{position:absolute;  width:150px; top:-32px; left:20px;}
	
	.content01  .center_area .title_box{width:88%;padding-top:50px;    }
	.content01  .center_area .title_box .center{width:250px; margin: 0 auto; font-size:24px; letter-spacing:1px; color:#221814; padding-left:10px;  }
	.content01  .center_area .title_box .center img{width:50px; margin:0 5px;}
	
	.content01  .center_area .text_box{width:88%; padding-left:5px;}
	.content01  .center_area  .contact_box{width:88%;padding-left:5px;}
	
	.content01  .center_area  .contact_box .title{width:100%; margin-bottom:30px; margin-left:0px; text-align:center; font-size:22px;}
	.content01  .center_area  .contact_box .box{float:none; padding:15px 0px;   width:100%; border-left:0px solid #c6c6c6; height:auto; margin-bottom:10px;}
	.content01  .center_area  .contact_box .box:nth-of-type(2) { padding:0 20px 0 0px; } 
	.content01  .center_area  .contact_box .box:nth-of-type(2) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(3) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(4) .text{ margin-top:10px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(3) img{ margin-top:0px;} 
	.content01  .center_area  .contact_box .box:nth-of-type(4) img{ margin-top:0px;} 
	.content01  .center_area  .contact_box .box img{ display:block;width:20px;float:none;  margin-right:auto; margin:0 auto;}
	.content01  .center_area  .contact_box .box .text{float:none; text-align:center;}	
	
	
	.content01  .center_area  .map_box{display:none;  }
	
	#map{display:block; width:85%; height:250px; margin:0 auto;border:1px solid #999; border-radius:5px; margin-top:30px;}

}

