body{background:url(../../img/index/bg.png); border:0px; margin:0px; background-size:contain;overflow-y:scroll; overflow-x:hidden; }
p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
html.agent-ie p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
h2{font-size:20px;line-height:28px;letter-spacing:2px; }
h1{font-size:34px;line-height:40px;letter-spacing:2px;}
@media screen and (min-width:1400px){
	
	p{font-size:18px;line-height:24px;letter-spacing:5px;}
	h2{font-size:30px;line-height:38px; }
	h3{font-size:38px;line-height:38px; }
	h1{font-size:44px;line-height:50px;}
}
@media screen and ( max-width:450px ) {
	
	h2{font-size:18px;line-height:28px; }
	h3{font-size:22px;line-height:28px; font-weight:500;}
	h1{font-size:32px;line-height:40px;}
}

.top_banner_box{width:100%; height:300px;position:relative;margin-top:50px; box-shadow:-10px -55px 10px rgba(0,0,0,0.5);}
.top_banner_box .bg{width:100%; height:300px;background:url(../../img/default/banner01.png) center top ; background-size:cover;position:absolute;top:0px;left:0px; }
.top_banner_box .text_pic_box{width:850px;margin:0px auto;height:150px;overflow:hidden;position:relative;z-index:2;padding-top:80px;}
.top_banner_box .text_pic_box img{width:180px;float:left; margin-top:30px;}
.top_banner_box .text_pic_box h2{float:left;font-size:16px;letter-spacing:1px;color:#955f1c;line-height:22px; margin-left:30px;margin-top:60px;text-shadow:2px 2px 5px rgba(255,255,255,1);font-family: Times New Roman;font-weight:600;}
.top_banner_box .bottom_pic{width:100%;height:100px; background:url(../../img/default/pic.png) top no-repeat; position:absolute;bottom:-50px; }
@media screen and (min-width:1400px){
	.top_banner_box{width:100%; height:400px;position:relative;}
	.top_banner_box .bg{width:100%; height:400px;}
	.top_banner_box .bottom_pic{width:100%;height:150px; background:url(../../img/default/pic2.png) top no-repeat; bottom:-90px; }
	

}
@media screen and (max-width: 450px){
	.top_banner_box{display:none;}
	

}
.content01{width:900px;margin:40px auto 0px  auto;height:auto;overflow:hidden;padding-top:120px;}
.content01 .left_area{width:210px;height:auto;float:left;margin-top:50px; }
.content01 .left_area .nav{width:200px;float:left;margin-top:-50px;  }
.content01 .left_area .nav a{display:block;text-align:center;padding:10px auto;line-height:30px;color:#955f1c;}
.content01 .left_area .nav .father{width:150px;float:left;height:auto; margin:8px auto;margin-left:30px; }
.content01 .left_area .nav .father .li{width:100px; border:2px solid #955f1c;padding:10px 25px 10px 15px ;border-radius:5px;transition:0.3s;position:relative;letter-spacing:1px; }
.content01 .left_area .nav .father .li span{display:block;float:right;width:10px;height:10px; background-color:#;border-top:2px solid #955f1c;border-right:2px solid #955f1c; transform:rotate(45deg); -webkit-transform:rotate(45deg);position:absolute;right:13px;top:50%;margin-top:-7px;transition:0.3s;}
.content01 .left_area .nav .father .li:hover{background:#955f1c;color:#fff;}
.content01 .left_area .nav .father .li:hover span{color:#fff;border-top:2px dotted #fff;border-right:2px dotted #fff; }
.content01 .left_area .nav .father .child_area{width:100%;display:none;padding-bottom:15px;}
.content01 .left_area .nav .father .child_area .button{width:100%;padding:10px 0px; line-height:30px; background:url(../../img/default/line.png) bottom left repeat-x;letter-spacing:1px; }
.content01 .left_area .nav .father .child_area.active{display:block;}
.content01 .left_area .phone_nav{display:none;}

.content01 .right_area{width:630px;float:right;background:url(../../img/default/line2.png) top left repeat-y; padding-left:50px;}
.content01 .right_area .top_title_box{width:100%;margin-bottom:30px;padding-bottom:15px;height:auto;background:url(../../img/default/line.png) bottom left repeat-x;position:relative; margin-top:-60px;}
.content01 .right_area .top_title_box .title{display:block;width:370px; padding-top:5px;overflow:hidden;}
.content01 .right_area .top_title_box .title h1{  float:left;padding-left:35px;}
.content01 .right_area .top_title_box .title .sketch_light{width:35px;float:left;position:absolute;bottom:8px;}
.content01 .right_area .top_title_box .sketch_grass{width:305px;height:80px;overflow:hidden;position:absolute;bottom:-15px;right:-10px;}
.content01 .right_area .top_title_box .sketch_grass img{width:700px;float:right;}
.content01 .right_area .text_area{width:100%;}
.content01 .right_area .text_area p{margin-bottom:10px;}
.content01 .right_area .text_area  img{display:block;margin:30px auto;}

@media screen and (min-width:1400px){
	.top_banner_box{width:100%; height:400px;position:relative;}
	.top_banner_box .bg{width:100%; height:400px;}
	.top_banner_box .bottom_pic{width:100%;height:150px; background:url(../../img/default/pic2.png) top no-repeat; bottom:-90px; }
	

	.content01{width:1200px;}
	.content01 .left_area{width:310px;}
	.content01 .left_area .nav{width:300px; }
	.content01 .left_area .nav a{display:block;text-align:center;padding:15px auto;line-height:30px;color:#955f1c;}
	.content01 .left_area .nav .father{width:250px;float:left;height:auto; margin:8px auto;margin-left:30px; }
	.content01 .left_area .nav .father .li{width:200px; border:2px solid #955f1c;padding:15px 25px 15px 15px ;border-radius:5px;transition:0.3s;position:relative;letter-spacing:2px; font-size:18px;}
	.content01 .left_area .nav .father .child_area .button{width:100%;padding:10px 0px; background:url(../../img/default/line.png) bottom left repeat-x;}
	
	
	.content01 .right_area{width:830px;}
	.content01 .right_area .top_title_box .title{display:block;width:470px;}
	.content01 .right_area .top_title_box .title .sketch_light{width:35px;float:left;position:absolute;bottom:8px;}
	.content01 .right_area .top_title_box .sketch_grass{width:405px;height:80px;overflow:hidden;position:absolute;bottom:0px;right:-10px;}
	.content01 .right_area .top_title_box .sketch_grass img{width:900px;float:right;}

	
}


@media screen and ( max-width:960px ) and (min-width: 700px) {
	.content01{width:700px;margin:40px auto 0px  auto;height:auto;overflow:hidden;padding-top:120px;}
	.content01 .left_area{width:180px;height:auto;float:left;margin-top:50px;}
	.content01 .left_area .nav{width:180px;float:left;margin-top:-50px;  }
	.content01 .left_area .nav a{display:block;text-align:center;padding:10px auto;line-height:30px;color:#955f1c;}
	.content01 .left_area .nav .father{width:150px;float:left;height:auto; margin:8px auto;margin-left:30px; }
	.content01 .left_area .nav .father .li{width:100px; border:2px solid #955f1c;padding:10px 25px 10px 15px ;border-radius:5px;transition:0.3s;position:relative;letter-spacing:1px; }
	.content01 .right_area{width:470px;float:right;background:url(../../img/default/line2.png) top left repeat-y; padding-left:30px;}
	.content01 .right_area .top_title_box{width:100%;margin-bottom:30px;padding-bottom:15px;height:auto;background:url(../../img/default/line.png) bottom left repeat-x;position:relative; margin-top:-60px;}
	.content01 .right_area .top_title_box .title{display:block;width:370px; padding-top:5px;overflow:hidden;}
	.content01 .right_area .top_title_box .title h1{  float:left;padding-left:35px;}
	.content01 .right_area .top_title_box .title .sketch_light{width:35px;float:left;position:absolute;bottom:8px;}
	.content01 .right_area .top_title_box .sketch_grass{width:305px;height:80px;overflow:hidden;position:absolute;bottom:-15px;right:-10px;}
	.content01 .right_area .top_title_box .sketch_grass img{width:700px;float:right;}
	.content01 .right_area .text_area{width:100%;}
	.content01 .right_area .text_area p{margin-bottom:10px;}
	.content01 .right_area .text_area  img{width:90%;display:block;margin:30px auto;}
	
}



@media screen and ( max-width:699px ) and (min-width: 450px) {
	.content01{width:480px;margin:40px auto 0px  auto;height:auto;overflow:hidden;padding-top:0px;}
	.content01 .left_area{width:100%;height:auto;float:none;margin-top:0px;overflow:hidden;}
	.content01 .left_area .nav{width:100%;float:none;margin-top:0px; padding-left:10px; overflow:hidden;}
	.content01 .left_area .nav a{display:block;text-align:center;padding:10px auto;line-height:30px;color:#955f1c;}
	.content01 .left_area .nav .father{width:100px;float:left;height:auto; margin:5px auto;margin-left:10px;overflow:hidden; }
	.content01 .left_area .nav .father .li{width:80px; border:2px solid #955f1c;padding:8px 8px;border-radius:5px;transition:0.3s;position:relative;letter-spacing:1px; }
	.content01 .left_area .nav .father .li span{display:none;}
	.content01 .right_area{width:450px;float:none;background:none; margin:20px auto;padding-left:0px;margin-top:120px;}
	.content01 .right_area .top_title_box{width:100%;margin-bottom:30px;padding-bottom:15px;height:auto;background:url(../../img/default/line.png) bottom left repeat-x;position:relative; margin-top:-60px;}
	.content01 .right_area .top_title_box .title{display:block;width:370px; padding-top:5px;overflow:hidden;}
	.content01 .right_area .top_title_box .title h1{  float:left;padding-left:35px;}
	.content01 .right_area .top_title_box .title .sketch_light{width:35px;float:left;position:absolute;bottom:8px;}
	.content01 .right_area .top_title_box .sketch_grass{width:305px;height:80px;overflow:hidden;position:absolute;bottom:-15px;right:-10px;}
	.content01 .right_area .top_title_box .sketch_grass img{width:700px;float:right;}
	.content01 .right_area .text_area{width:100%;}
	.content01 .right_area .text_area p{margin-bottom:10px;}
	.content01 .right_area .text_area  img{width:90%;display:block;margin:30px auto;}
	
	
	
	
	
}

@media screen and ( max-width:450px ) {
		.content01 .left_area .nav{display:none;}
		.content01 .left_area .phone_nav{display:block;}
		
		.content01{width:320px;margin:40px auto 0px  auto;height:auto;overflow:hidden;padding-top:0px;}
		.content01 .left_area{width:100%;height:auto;float:none;margin-top:0px;overflow:hidden;}
		
		.content01 .left_area .phone_nav{width:100%;padding-left:10px; overflow:hidden;}
		.content01 .left_area .phone_nav .li{display:block;text-align:center;padding:12px 10px;line-height:22px;color:#777; background-color:#999;background:url(../../img/default/line.png) bottom left repeat-x; }
		.content01 .left_area .phone_nav .li:hover {color:#955f1c;}
		.content01 .left_area .phone_nav .phone_father{width:100%;height:50px;line-height:40px; margin:5px auto;overflow:hidden;text-align:left;letter-spacing:2px;padding-left:15px;color:#955f1c;font-size:18px;background:url(../../img/footer/line2.png) bottom repeat-x;position:relative; }
		.content01 .left_area .phone_nav .phone_father span{display:block;width:10px;height:10px; background-color:#;border-top:2px solid #955f1c;border-right:2px solid #955f1c; transform:rotate(45deg); -webkit-transform:rotate(45deg);position:absolute;right:43px;top:50%;margin-top:-12px;transition:0.3s;}
		.content01 .left_area .phone_nav .phone_father.active  span{transform:rotate(135deg); -webkit-transform:rotate(135deg);}
		
		
	
		.content01 .right_area{width:320px;float:none;background:none; margin:20px auto;padding-left:0px;margin-top:120px; }
		.content01 .right_area .top_title_box{width:100%;margin-bottom:30px;padding-bottom:30px;height:auto;background:url(../../img/default/line.png) bottom left repeat-x;position:relative; margin-top:-60px;}
		.content01 .right_area .top_title_box .title{display:block;width:370px; padding-top:5px;overflow:hidden;}
		.content01 .right_area .top_title_box .title h1{  float:left;padding-left:35px;}
		.content01 .right_area .top_title_box .title .sketch_light{width:35px;float:left;position:absolute;bottom:25px;}
		.content01 .right_area .top_title_box .sketch_grass{width:205px;height:80px;overflow:hidden;position:absolute;bottom:-35px;right:-10px;}
		.content01 .right_area .top_title_box .sketch_grass img{width:500px;float:right;}
		.content01 .right_area .text_area{width:100%;}
		.content01 .right_area .text_area p{margin-bottom:10px;}
		.content01 .right_area .text_area  img{width:90%;display:block;margin:30px auto;}
	
	
	
	
	
}













