body {}
.moveing_area { height:3500px; overflow: hidden; }
.content.one{width:1000px;height:500px;position: fixed; top:50%;margin-top:-210px; left:0px;z-index:3; background-color:rgba(47,132,132,0.5);}

.content.one .circle-works__mask{width:200px;height:200px;border-radius:100px;overflow:hidden;-webkit-animation:rotate1 3s infinite;animation: rotate1 3s infinite ; margin:150px auto; background:;background-repeat: no-repeat;background-position: 0 0; }

@-webkit-keyframes rotate
{
	0% { -webkit-transform:rotate(360deg); border-radius:100px;}
	50% { -webkit-transform:rotate(-360deg);border-radius:100px;}
	100% { -webkit-transform:rotate(360deg);border-radius:100px;}
}
@keyframes rotate
{
	0% {border-radius:100px;transform: skewY(8deg) skewX(-5deg) rotate(360deg);transform-origin:30px 20px;}
	10% {border-radius:100px;transform:skewX(-5deg) skewY(5deg) rotate(-360deg);transform-origin:20px 30px;}
	20% {border-radius:100px;transform:skewY(5deg) skewX(-8deg) rotate(360deg);transform-origin:30px 20px;}
	30% {border-radius:100px;transform:skewX(-5deg) skewY(5deg) rotate(-360deg);transform-origin:20px 30px;}
	40% { border-radius:100px;transform: skewY(5deg) skewX(-5deg) rotate(360deg);transform-origin:30px 20px;}
	50% {border-radius:100px;transform: skewX(-5deg) skewY(5deg) rotate(-360deg);transform-origin:20px 30px;}
	60% {border-radius:100px;transform: skewY(8deg) skewX(-8deg) rotate(360deg);transform-origin:30px 20px;}
	70% {border-radius:100px;transform: skewX(-5deg) skewY(5deg) rotate(-360deg);transform-origin:20px 30px;}
	80% {border-radius:100px;transform: skewY(5deg) skewX(-8deg) rotate(360deg);transform-origin:30px 20px;}
	90% {border-radius:100px;transform:skewX(-8deg) skewY(5deg) rotate(-360deg);transform-origin:20px 30px;}
	100% {border-radius:100px;transform:skewY(8deg) skewX(-5deg) rotate(360deg);transform-origin:30px 20px;}
}


















@charset 'UTF-8';
/* =============================================================================
   TOP PAGE
============================================================================= */

.home .contents {
	width: 1024px;
}

.circles {
	position: relative;
	margin: 0 auto 150px;
	width: 1024px;
	height: 1513px;
}

.circle-coin {
	position: absolute;
	top: 25px;
	left: 393px;
	width: 240px;
	height: 240px;
}

.circle-coin a {
	display: block;
	overflow: hidden;
	overflow: hidden;
	cursor: pointer;
	width: 100%;
	height: 100%;
	background-image: url(../img/top/img_coin.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: 1000%;
	white-space: nowrap;
	word-wrap: none;
}

.circle-thebu {
	position: absolute;
	top: 570px;
	left: 629px;
	width: 375px;
	height: 261px;
}

.rev .circle-thebu span {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-image: url(../img/top/bg_ura-dog.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.rev .circle-thebu span img {
	display: none;
}

.circle-movie {
	position: absolute;
	top: 418px;
	left: 300px;
	overflow: hidden;
	width: 180px;
	height: 180px;
}

.circle-movie a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.rev .circle-movie a {
	background-image: url(../img/top/bg_ura-face.gif);
}

.rev .circle-movie a:hover {
	opacity: .6;
	filter: alpha(opacity=60);
}

.circle-movie a img {
	position: relative;
}

.rev .circle-movie a img {
	visibility: hidden;
}

.circle-movie a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: none;
	width: 180px;
	height: 180px;
	background: url(../img/top/item_movie_over.png) no-repeat 0 0;
}

.circle-movie a:hover:after {
	display: block;
}

.rev .circle-movie a:hover:after {
	display: none;
}

.circle-menu__item {
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
}

.circle-menu__item a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.circle-menu__item .bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.circle-menu__item .txt {
	position: relative;
	z-index: 2;
}

.rev .circle-menu__item img {
	visibility: hidden;
}

.rev .circle-menu__item a:hover {
	opacity: .6;
	filter: alpha(opacity=60);
}

.circle-menu__item--about {
	top: 211px;
	left: 194px;
	width: 180px;
	height: 180px;
}

.rev .circle-menu__item--about a {
	background-image: url(../img/top/bg_ura-butterfly.gif);
}

.circle-menu__item--works {
	top: 116px;
	left: 689px;
	width: 180px;
	height: 180px;
}

.rev .circle-menu__item--works a {
	background-image: url(../img/top/bg_ura-peace.gif);
}

.circle-menu__item--otayori {
	top: 966px;
	left: 840px;
	width: 180px;
	height: 180px;
}

.rev .circle-menu__item--otayori a {
	background-image: url(../img/top/bg_ura-dragonfly.gif);
}

.circle-menu__item--blog {
	top: 606px;
	left: 524px;
	width: 180px;
	height: 180px;
}

.rev .circle-menu__item--blog a {
	background-image: url(../img/top/bg_ura-sun.gif);
}

.circle-menu__item--monogoen {
	top: 1069px;
	left: 308px;
	width: 180px;
	height: 180px;
}

.rev .circle-menu__item--monogoen a {
	background-image: url(../img/top/bg_ura-spoon.gif);
}

.circle-menu__item--coen {
	top: 41px;
	left: 905px;
	width: 120px;
	height: 120px;
}

.rev .circle-menu__item--coen a {
	background-image: url(../img/top/bg_ura-eye.gif);
}

.circle-menu__item--supergoen {
	top: 1329px;
	left: 254px;
	width: 120px;
	height: 120px;
}

.rev .circle-menu__item--supergoen a {
	background-image: url(../img/top/bg_ura-star.gif);
}

.circle-works__item {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
	list-style: none;
}

.circle-works__item a {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.circle-works__item.is-new:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 8px;
	z-index: 4;
	display: block;
	width: 48px;
	height: 48px;
	background: url(../img/top/ico_new.png) no-repeat 0 0;
}

.rev .circle-works__item.is-new:before {
	display: none;
}

.circle-works__item img {
	position: relative;
	z-index: 1;
	padding: 1px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.rev .circle-works__item img {
	visibility: hidden;
}

.circle-works__item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .4;
	filter: alpha(opacity=40);
}

.circle-works__item:hover:after {
	display: none;
}

.rev .circle-works__item:after {
	display: none;
}

.rev .circle-works__item a:hover {
	opacity: .6;
	filter: alpha(opacity=60);
}

.circle-works__item--w1 {
	top: 30px;
	left: 12px;
}

.rev .circle-works__item--w1 a {
	background-image: url(../img/top/bg_ura-tree_color.gif);
}

.circle-works__item--w2 {
	top: 327px;
	left: 545px;
}

.rev .circle-works__item--w2 a {
	background-image: url(../img/top/bg_ura-planet.gif);
}

.circle-works__item--w3 {
	top: 301px;
	left: 820px;
}

.rev .circle-works__item--w3 a {
	background-image: url(../img/top/bg_ura-guiter.gif);
}

.circle-works__item--w4 {
	top: 788px;
	left: 331px;
}

.rev .circle-works__item--w4 a {
	background-image: url(../img/top/bg_ura-skull.gif);
}

.circle-works__item--w5 {
	top: 868px;
	left: 593px;
}

.rev .circle-works__item--w5 a {
	background-image: url(../img/top/bg_ura-japan.gif);
}

.circle-works__item--w6 {
	top: 1124px;
	left: 10px;
}

.rev .circle-works__item--w6 a {
	background-image: url(../img/top/bg_ura-house.gif);
}

.circle-works__item--w7 {
	top: 1313px;
	left: 482px;
}

.rev .circle-works__item--w7 a {
	background-image: url(../img/top/bg_ura-rain.gif);
}

.circle-works__item--w8 {
	top: 1218px;
	left: 783px;
}

.rev .circle-works__item--w8 a {
	background-image: url(../img/top/bg_ura-flower.gif);
}

.circle-works__mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-image: url(../../img/top/mask_works01.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.rev .circle-works__mask {
	display: none;
}

.circle-works__mask--type01 {
	background-image: url(../../img/top/mask_works01.png);
}

.circle-works__mask--type02 {
	background-image: url(../../img/top/mask_works02.png);
}

.circle-works__mask--type03 {
	background-image: url(../../img/top/mask_works03.png);
}

.circle-works__mask--type04 {
	background-image: url(../../img/top/mask_works04.png);
}

.circle-works__mask--type05 {
	background-image: url(../img/top/mask_works05.png);
}

.circle-works__mask--type06 {
	background-image: url(../img/top/mask_works06.png);
}

.circle-sns__item {
	position: absolute;
	width: 120px;
	height: 120px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.circle-sns__item a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: 1000%;
	white-space: nowrap;
	word-wrap: none;
}

.rev .circle-sns__item a:hover {
	opacity: .6;
	filter: alpha(opacity=60);
}

.circle-sns__item--facebook {
	top: 1128px;
	left: 586px;
}

.circle-sns__item--facebook a {
	background-image: url(../img/top/btn_facebook.png);
}

.rev .circle-sns__item--facebook a {
	background-image: url(../img/top/bg_ura-beetle.gif);
}

.circle-sns__item--twitter {
	top: 375px;
	left: 54px;
}

.circle-sns__item--twitter a {
	background-image: url(../img/top/btn_twitter.png);
}

.rev .circle-sns__item--twitter a {
	background-image: url(../img/top/bg_ura-bird.gif);
}

.circle-sns__item--instagram {
	top: 943px;
	left: 144px;
}

.circle-sns__item--instagram a {
	background-image: url(../img/top/btn_instagram.png);
}

.rev .circle-sns__item--instagram a {
	background-image: url(../img/top/bg_ura-car.gif);
}

/* =============================================================================
   NEWS AREA
============================================================================= */

.news {
	position: absolute;
	top: 544px;
	left: -30px;
	padding: 70px 70px 0 70px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 360px;
	height: 360px;
	background-image: url(../img/top/bg_news.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.rev .news {
	background-image: url(../img/top/bg_ura-news.png);
}

.news__ttl {
	margin: 0 auto 20px;
	width: 122px;
	height: 22px;
}

.rev .news__ttl {
	-webkit-filter: FlipH;
	-ms-filter: 'FlipH';
	filter: FlipH;
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

.news__item {
	position: relative;
	display: none;
}

.news__item.is-active {
	display: block;
}

.rev .news__item {
	-webkit-filter: FlipH;
	-ms-filter: 'FlipH';
	filter: FlipH;
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

.news__item time {
	display: block;
	font-size: 10px;
	font-size: .625rem;
	line-height: 2;
}

.news__item.is-new time:after {
	content: '【new】';
	margin: 0;
	padding: 2px 2px 2px 0;
	background: #000;
	color: #e72418;
}

.rev .news__item.is-new time:after {
	background-color: transparent;
}

.news span {
	padding: 2px;
	background: #000;
	color: #fff;
}

.rev .news span {
	background: #fff;
	color: #000;
}

.news__hdl {
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.71429;
}

.news__body {
	font-size: 12px;
	font-size: .75rem;
	line-height: 1.83333;
}

.news__detail {
	position: absolute;
	bottom: 42px;
	z-index: 3;
	width: 56px;
	height: 56px;
	right: 67px;
}

.news__detail a {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-image: url(../img/top/btn_more.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	text-indent: 1000%;
	white-space: nowrap;
	word-wrap: none;
}

.news__detail a:hover {
	background-position: 0 -56px;
}

.rev .news__detail a {
	background-image: url(../img/top/bg_ura-book.gif);
}

.rev .news__detail a:hover {
	background-position: 0 0;
	opacity: .6;
	filter: alpha(opacity=60);
}

/* =============================================================================
   EXTRA AREA
============================================================================= */

.extra {
	position: fixed;
	top: -100%;
	left: 0;
	z-index: 100;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #000;
}

.extra__bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.extra__body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	overflow: visible;
	margin: auto;
	padding: 40px 10px;
	width: 900px;
	height: 600px;
	right: 0;
}

.extra__body .bx-pager {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	font-size: 0;
	text-align: center;
}

.extra__body .bx-pager-item {
	display: inline-block;
	margin: 0 10px;
	width: 10px;
}

.extra__body .bx-pager-link {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: #000;
}

.extra__body .bx-pager-link:hover {
	border-color: #f3c;
}

.extra__body .bx-pager-link.active,
.extra__body .bx-pager-link.active:hover {
	border-color: #fff;
	background-color: #fff;
}

.extra__close {
	position: absolute;
	top: -10px;
	z-index: 10;
	display: block;
	overflow: hidden;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: url(../img/common/btn_close.png) no-repeat 0 0;
	text-indent: 1000%;
	white-space: nowrap;
	word-wrap: none;
	right: 0;
}

.extra__close:hover {
	background-position: 0 -40px;
}

.extra-trg {
	position: relative;
	z-index: 10;
	display: block;
	cursor: pointer;
	width: 100%;
}

.extra-trg__strap {
	position: absolute;
	bottom: -52px;
	left: 50%;
	display: block;
	cursor: pointer;
	margin-left: 437px;
	width: 82px;
	height: 52px;
	background: url(../img/top/anim_strap.png) no-repeat 0 0;
}

.extra-trg__hello {
	position: relative;
	display: none;
	width: 100%;
	height: 100px;
	background-color: #000;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.71429;
	color: #fff;
	vertical-align: middle;
	text-align: center;
}

.extra-trg__content {
	margin: 0 auto;
	width: 1024px;
	line-height: 100px;
}

.extra-trg__content img {
	vertical-align: middle;
}

.movie {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	visibility: hidden;
	width: 100%;
	height: 100%;
}

.movie__bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .8;
	filter: alpha(opacity=80);
}

.movie__close {
	position: absolute;
	top: -40px;
	overflow: hidden;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: url(../img/common/btn_close.png) no-repeat 0 0;
	text-decoration: none;
	text-indent: 1000%;
	white-space: nowrap;
	word-wrap: none;
	right: -10px;
}

.movie__close:hover {
	background-position: 0 -40px;
}

.movie__body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1002;
	margin: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 720px;
	height: 404px;
	right: 0;
}

.movie__player {
	position: relative;
	width: 100%;
	height: 100%;
}

.movie__player video {
	width: 100%;
	height: 100%;
}

.movie .mejs-container a {
	outline: none;
}




@media screen and (max-width: 767px){

	.home .contents {
		width: 100%;
	}

	.circles {
		margin: 0 auto 50px;
		width: 300px;
		height: 1675px;
	}

	.circle-coin {
		top: 140px;
		left: 44px;
		width: 212px;
		height: 212px;
	}

	.circle-coin a {
		cursor: default;
		background-image: url(../img/top/img_coin_sp.png);
		background-size: 212px 212px;
		-webkit-background-size: 212px 212px;
	}

	.circle-thebu {
		top: 1555px;
		left: 5px;
		width: 100px;
		height: 120px;
	}

	.circle-thebu img {
		width: 100%;
	}

	.circle-movie {
		top: 512px;
		left: 160px;
		width: 120px;
		height: 120px;
	}

	.circle-movie img {
		width: 100%;
	}

	.circle-movie a:hover:after {
		display: none;
	}

	.circle-menu__item .bg {
		display: none;
	}

	.circle-menu__item .txt {
		width: 100%;
	}

	.circle-menu__item--about {
		top: 0;
		left: 160px;
		width: 120px;
		height: 120px;
	}

	.circle-menu__item--works {
		top: 372px;
		left: 20px;
		width: 120px;
		height: 120px;
	}

	.circle-menu__item--otayori {
		top: 1135px;
		left: 160px;
		width: 120px;
		height: 120px;
	}

	.circle-menu__item--blog {
		top: 995px;
		left: 20px;
		width: 120px;
		height: 120px;
	}

	.circle-menu__item--monogoen {
		top: 1275px;
		left: 20px;
		width: 120px;
		height: 120px;
	}

	.circle-menu__item--coen {
		top: 1565px;
		left: 117px;
		width: 85px;
		height: 85px;
	}

	.circle-menu__item--supergoen {
		top: 1565px;
		left: 210px;
		width: 85px;
		height: 85px;
	}

	.circle-works__item {
		width: 120px;
		height: 120px;
	}

	.circle-works__item.is-new:before {
		top: 0;
		left: 0;
		width: 34px;
		height: 34px;
		background-image: url(../img/top/ico_new_sp.png);
		background-size: 34px 34px;
		-webkit-background-size: 34px 34px;
	}

	.circle-works__item img {
		padding: 0;
	}

	.rev .circle-works__item a:hover {
		opacity: 1;
		-webkit-filter: none;
		filter: none;
	}

	.circle-works__item--w1 {
		top: 0;
		left: 20px;
	}

	.circle-works__item--w2 {
		top: 372px;
		left: 160px;
	}

	.circle-works__item--w3 {
		top: 512px;
		left: 20px;
	}

	.circle-works__item--w4 {
		top: 995px;
		left: 160px;
	}

	.circle-works__item--w5 {
		top: 1135px;
		left: 20px;
	}

	.circle-works__item--w6 {
		top: 1275px;
		left: 160px;
	}

	.circle-works__item--w7 {
		top: 1415px;
		left: 20px;
	}

	.circle-works__item--w8 {
		top: 1415px;
		left: 160px;
	}

	.circle-works__mask {
		background-image: url(../../img/top/mask_works_sp.png) !important;
		background-position: 0 0 !important;
		background-size: 120px 120px;
		-webkit-background-size: 120px 120px;
	}

	.circle-sns__item {
		width: 60px;
		height: 60px;
	}

	.rev .circle-sns__item a:hover {
		opacity: 1;
		-webkit-filter: none;
		filter: none;
	}

	.circle-sns__item--facebook {
		top: 915px;
		left: 30px;
	}

	.circle-sns__item--facebook a {
		background-image: url(../img/top/btn_facebook_sp.png);
		background-size: 60px 60px;
		-webkit-background-size: 60px 60px;
	}

	.circle-sns__item--twitter {
		top: 915px;
		left: 120px;
	}

	.circle-sns__item--twitter a {
		background-image: url(../img/top/btn_twitter_sp.png);
		background-size: 60px 60px;
		-webkit-background-size: 60px 60px;
	}

	.circle-sns__item--instagram {
		top: 915px;
		left: 210px;
	}

	.circle-sns__item--instagram a {
		background-image: url(../img/top/btn_instagram_sp.png);
		background-size: 60px 60px;
		-webkit-background-size: 60px 60px;
	}

	.news {
		top: 652px;
		left: 20px;
		padding: 30px 30px 0;
		width: 260px;
		height: 250px;
		background-image: url(../img/top/bg_news_sp.png);
		background-size: 260px 250px;
		-webkit-background-size: 260px 250px;
	}

	.news__ttl {
		margin: 0 auto 10px;
		width: 91px;
		height: 17px;
	}

	.news__detail {
		bottom: 10px;
		width: 50px;
		height: 50px;
		right: 20px;
	}

	.news__detail a {
		background-image: url(../img/top/btn_more_sp.png);
		background-size: 50px 50px;
		-webkit-background-size: 50px 50px;
	}

	.news__detail a:hover {
		background-position: 0 0;
	}

	.rev .news__detail a:hover {
		background-position: 0 0;
		opacity: 1;
		-webkit-filter: none;
		filter: none;
	}

	.extra-trg__strap {
		bottom: -44px;
		left: 16px;
		margin-left: 0;
		width: 44px;
		height: 44px;
		background: url(../img/top/bg_strap_sp.png) no-repeat 0 0;
		background-size: 44px 44px;
		-webkit-background-size: 44px 44px;
	}

	.movie__close {
		background: url(../img/common/btn_close_sp.png) no-repeat center center;
		background-size: 20px 20px;
		-webkit-background-size: 20px 20px;
	}

	.movie__close:hover {
		background-position: center center;
	}

	.movie__body {
		width: 300px;
		height: 168px;
	}
}




@media screen and (min-height: 480px) and (max-height: 679px), screen and (min-width: 620px) and (max-width: 919px){

	.extra__body {
		width: 600px;
		height: 400px;
	}
}




@media screen and (max-height: 479px), screen and (max-width: 619px){

	.extra__body {
		width: 300px;
		height: 200px;
	}

	.extra__body .bx-pager {
		text-align: left;
	}

	.extra__body .bx-pager-link {
		width: 18px;
		height: 18px;
	}

	.extra__close {
		background-image: url(../img/common/btn_close_sp.png);
		background-position: center center;
		background-size: 20px 20px;
		-webkit-background-size: 20px 20px;
	}

	.extra__close:hover {
		background-position: center center;
	}
}



.content.two{width:1000px;height:500px;position: fixed; top:50%;margin-top:-210px; left:1000px;z-index:3;background-color:rgba(47,81,132,0.5);}
.content.three{width:1000px;height:500px;position: fixed; top:50%;margin-top:-210px; margin-left:3000px;z-index:3;background-color:rgba(47,55,130,0.5);}
.content.four{width:1000px;height:500px;position: fixed; top:50%;margin-top:-210px; margin-left: 4000px;z-index:3;background-color:rgba(75,47,127,0.5);}
.content.five{width:1000px;height:500px;position: fixed; top:50%;margin-top:-210px; margin-left: 5000px;z-index:3;background-color:rgba(97,47,124,0.5);}