html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  height: 100%;
  line-height: 1.7;
  color: #333;
  position: relative;
  font-family: helvetica,arial,clean,sans-serif;
}

img {
  vertical-align: top;
}

a,
a:link,
a:hover,
a:visited {
  color: #08c;
}

#Wrapper {
  overflow: hidden;
}
#Wrapper .fixedNav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 59px;
  background: #FFF;
  border-bottom: 1px solid #DDD;
}
#Wrapper .fixedNav ul {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .fixedNav ul li {
  float: left;
  margin-left: 40px;
}
#Wrapper .fixedNav ul li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
#Wrapper .fixedNav ul li:first-child {
  margin-left: 0;
}
#Wrapper .fixedNav .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 57px;
  border-bottom: 3px solid #5fbc90;
}
#Wrapper .header {
  position: absolute;
  width: 100%;
  z-index: 999z;
}
#Wrapper .header .inner {
  width: 950px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}
#Wrapper .header .inner h1 {
  position: absolute;
  top: 15px;
  left: -4px;
}
#Wrapper .header .inner h1 a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#Wrapper .header .inner .sns {
  position: absolute;
  right: 0;
  top: 15px;
  width: 205px;
  height: 30px;
}
#Wrapper .header .inner .sns #Twitter {
  position: absolute;
  left: 110px;
  top: 0;
  width: 95px;
}
#Wrapper .header .inner .sns #Facebook {
  position: absolute;
  top: 0;
  left: 0;
}
#Wrapper .header .inner .sns .fb_iframe_widget > span {
  vertical-align: baseline !important;
}
#Wrapper .kv {
  height: 820px;
  position: relative;
}
#Wrapper .kv #Loading {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9999;
  margin: -12px 0 0 -42px;
}
#Wrapper .kv .inner {
  width: 950px;
  margin: 0 auto;
  position: relative;
}
#Wrapper .kv .inner .lead {
  position: absolute;
  top: 47px;
  left: 50%;
  margin-left: -236.5px;
}
#Wrapper .kv .inner .lead img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#Wrapper .kv .inner .title {
  position: absolute;
  top: 107px;
  left: 50%;
  margin-left: -385px;
}
#Wrapper .kv .inner .title ul {
  position: relative;
}
#Wrapper .kv .inner .title ul li {
  position: absolute;
}
#Wrapper .kv .inner .title ul li.t0 {
  top: 0;
  left: 0;
}
#Wrapper .kv .inner .title ul li.t1 {
  top: 42px;
  left: 75px;
}
#Wrapper .kv .inner .title ul li.t2 {
  top: 32px;
  left: 130px;
}
#Wrapper .kv .inner .title ul li.t3 {
  top: 38px;
  left: 192px;
}
#Wrapper .kv .inner .title ul li.t4 {
  top: 38px;
  left: 244px;
}
#Wrapper .kv .inner .title ul li.t5 {
  top: 39px;
  left: 274px;
}
#Wrapper .kv .inner .title ul li.t6 {
  top: 37px;
  left: 302px;
}
#Wrapper .kv .inner .title ul li.t7 {
  top: 39px;
  left: 350px;
}
#Wrapper .kv .inner .title ul li.t8 {
  top: 39px;
  left: 392px;
}
#Wrapper .kv .inner .title ul li.t9 {
  top: 39px;
  left: 434px;
}
#Wrapper .kv .inner .title ul li.t10 {
  top: 39px;
  left: 475px;
}
#Wrapper .kv .inner .title ul li.t11 {
  top: 39px;
  left: 496px;
}
#Wrapper .kv .inner .title ul li.t12 {
  top: 38px;
  left: 542px;
}
#Wrapper .kv .inner .title ul li.t13 {
  top: 33px;
  left: 595px;
}
#Wrapper .kv .inner .title ul li.t14 {
  top: 34px;
  left: 665px;
}
#Wrapper .kv .inner .title ul li.t15 {
  top: 56px;
  left: 704px;
}
#Wrapper .kv .inner .item {
  position: absolute;
  top: 230px;
  left: 50%;
  margin-left: -470px;
}
#Wrapper .kv .inner .item li {
  position: absolute;
  top: 0;
}
#Wrapper .kv .inner .item li.i0 {
  left: 0;
}
#Wrapper .kv .inner .item li.i1 {
  left: 188px;
}
#Wrapper .kv .inner .item li.i2 {
  left: 376px;
}
#Wrapper .kv .inner .item li.i3 {
  left: 564px;
}
#Wrapper .kv .inner .item li.i4 {
  left: 752px;
}
#Wrapper .kv .inner .copy {
  position: absolute;
  top: 530px;
  width: 100%;
}
#Wrapper .kv .inner .copy p {
  position: absolute;
  top: 0;
  left: 50%;
}
#Wrapper .kv .inner .copy p.c0 {
  margin-left: -341.5px;
}
#Wrapper .kv .inner .copy p.c1 {
  top: 44px;
  margin-left: -256.5px;
}
#Wrapper .kv .nav {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: auto;
  width: 100%;
  height: 340px;
  background: url(../img/index/nav_bg.png) no-repeat 50% 100%;
}
#Wrapper .kv .nav ul {
  width: 673px;
  padding-top: 180px;
  position: absolute;
  left: 50%;
  margin-left: -336px;
  z-index: 999;
}
#Wrapper .kv .nav ul li {
  position: relative;
  margin: -75px 0 0 -75px;
}
#Wrapper .kv .nav ul li .bg,
#Wrapper .kv .nav ul li .txt {
  position: absolute;
}
#Wrapper .kv .nav ul li .bg img,
#Wrapper .kv .nav ul li .txt img {
  position: absolute;
  cursor: pointer;
}
#Wrapper .kv .nav ul li.n0 {
  left: 0%;
}
#Wrapper .kv .nav ul li.n1 {
  left: 25%;
  top: 25px;
}
#Wrapper .kv .nav ul li.n2 {
  left: 50%;
  top: 40px;
}
#Wrapper .kv .nav ul li.n3 {
  left: 75%;
  top: 25px;
}
#Wrapper .kv .nav ul li.n4 {
  left: 100%;
}
#Wrapper .kv .bg-pattern,
#Wrapper .kv .bg-pattern div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}
#Wrapper .kv .bg-pattern div.pt1 {
  background-image: url(../img/index/tile1.png);
  height: 820px;
}
#Wrapper .kv .bg-pattern div.pt2 {
  background-image: url(../img/index/tile2.png);
}
#Wrapper .kv .bg-pattern div.pt3 {
  background-image: url(../img/index/tile3.png);
}
#Wrapper .kv .bg-pattern div.pt4 {
  background-image: url(../img/index/tile4.png);
}
#Wrapper .kv .bg-pattern div.pt5 {
  background-image: url(../img/index/tile5.png);
}
#Wrapper .contents .cont {
  width: 100%;
}
#Wrapper .contents .cont .inner {
  width: 950px;
  margin: 0 auto;
}
#Wrapper .contents .cont.bg_particle {
  background: url("img/index/particle.png") center top;
}
#Wrapper .contents .cont_01 canvas {
  margin-top: -60px;
  position: absolute;
  top: 0;
  z-index: 0;
}
#Wrapper .contents .cont_01 .inner {
  padding: 120px 0 150px;
}
#Wrapper .contents .cont_01 .inner h2 {
  text-align: center;
  margin-bottom: 30px;
}
#Wrapper .contents .cont_01 .inner ul {
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_01 .inner ul li {
  float: left;
  position: relative;
  height: 180px;
  padding-top: 20px;
}
#Wrapper .contents .cont_01 .inner ul li .shaking {
  position: absolute;
  top: 0;
  right: -12px;
  width: 180px;
  height: 180px;
  background: url(../img/index/cont_01_shaking.png) no-repeat 0 0;
}
#Wrapper .contents .cont_02 {
  background: url(../img/index/cont_bg.png) repeat;
}
#Wrapper .contents .cont_02 .inner {
  padding: 120px 0;
}
#Wrapper .contents .cont_02 .inner h2 {
  text-align: center;
  margin-bottom: 60px;
}
#Wrapper .contents .cont_02 .inner ul {
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_02 .inner ul li {
  float: left;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  position: relative;
}
#Wrapper .contents .cont_02 .inner ul li .img {
  position: absolute;
}
#Wrapper .contents .cont_02 .inner ul li .img canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#Wrapper .contents .cont_02 .inner ul li.no1,
#Wrapper .contents .cont_02 .inner ul li.no2 {
  width: 455px;
  height: 230px;
  margin-right: 39px;
  margin-bottom: 40px;
}
#Wrapper .contents .cont_02 .inner ul li.no1 .img,
#Wrapper .contents .cont_02 .inner ul li.no2 .img {
  left: 0;
  top: 20px;
}
#Wrapper .contents .cont_02 .inner ul li.no1 .txt,
#Wrapper .contents .cont_02 .inner ul li.no2 .txt {
  margin: 50px 0 0 215px;
}
#Wrapper .contents .cont_02 .inner ul li.no1 .item,
#Wrapper .contents .cont_02 .inner ul li.no2 .item {
  position: absolute;
  top: 20px;
  left: 0;
}
#Wrapper .contents .cont_02 .inner ul li.no2 {
  margin-right: 0;
}
#Wrapper .contents .cont_02 .inner ul li.no3,
#Wrapper .contents .cont_02 .inner ul li.no4,
#Wrapper .contents .cont_02 .inner ul li.no5 {
  width: 290px;
  height: 315px;
  margin-right: 40px;
}
#Wrapper .contents .cont_02 .inner ul li.no3 .img,
#Wrapper .contents .cont_02 .inner ul li.no4 .img,
#Wrapper .contents .cont_02 .inner ul li.no5 .img {
  left: 70px;
  top: 0px;
}
#Wrapper .contents .cont_02 .inner ul li.no3 .txt,
#Wrapper .contents .cont_02 .inner ul li.no4 .txt,
#Wrapper .contents .cont_02 .inner ul li.no5 .txt {
  margin: 168px 0 0 17px;
}
#Wrapper .contents .cont_02 .inner ul li.no3 .item,
#Wrapper .contents .cont_02 .inner ul li.no4 .item,
#Wrapper .contents .cont_02 .inner ul li.no5 .item {
  position: absolute;
  top: 0;
  left: 70px;
}
#Wrapper .contents .cont_02 .inner ul li.no3 .txt {
  margin-left: 25px;
}
#Wrapper .contents .cont_02 .inner ul li.no4 .txt {
  margin-left: 40px;
}
#Wrapper .contents .cont_02 .inner ul li.no5 {
  margin-right: 0;
}
#Wrapper .contents .cont_02 .inner ul li.no5 .txt {
  margin-left: 30px;
}
#Wrapper .contents .cont_03 .inner {
  padding: 120px 0;
}
#Wrapper .contents .cont_03 .inner h2 {
  text-align: center;
  margin-bottom: 60px;
}
#Wrapper .contents .cont_03 .inner ul {
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_03 .inner ul li {
  width: 273px;
  float: left;
  height: 370px;
  margin-right: 65px;
}
#Wrapper .contents .cont_03 .inner ul li .img {
  margin-left: -10px;
}
#Wrapper .contents .cont_03 .inner ul li.no3 {
  margin-right: 0;
}
#Wrapper .contents .cont_03 .inner ul li.no4 {
  margin-left: 149px;
  margin-right: 108px;
}
#Wrapper .contents .cont_03 .inner ul li.no5 {
  margin-right: 0;
}
#Wrapper .contents .cont_04 {
  padding: 120px 0;
  background: url(../img/index/cont_bg.png) repeat;
}
#Wrapper .contents .cont_04 .inner h2 {
  text-align: center;
  margin-bottom: 60px;
}
#Wrapper .contents .cont_04 .inner ul {
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_04 .inner ul li {
  float: left;
  position: relative;
  width: 260px;
  height: 260px;
}
#Wrapper .contents .cont_04 .inner ul li div {
  position: absolute;
  width: 260px;
  height: 260px;
}
#Wrapper .contents .cont_04 .inner ul li.no1 {
  margin-left: 25px;
}
#Wrapper .contents .cont_04 .inner ul li.no2 {
  margin-left: 60px;
  margin-top: 40px;
}
#Wrapper .contents .cont_04 .inner ul li.no3 {
  margin-left: 60px;
}
#Wrapper .contents .cont_04 .inner ul li.no4 {
  margin-left: 155px;
  margin-top: -20px;
}
#Wrapper .contents .cont_04 .inner ul li.no5 {
  margin-left: 120px;
  margin-top: -20px;
}
#Wrapper .contents .cont_05 {
  padding: 120px 0;
}
#Wrapper .contents .cont_05 .inner {
  position: relative;
}
#Wrapper .contents .cont_05 .inner h2 {
  text-align: center;
  margin-bottom: 60px;
}
#Wrapper .contents .cont_05 .inner .copy {
  text-align: center;
  margin-bottom: 25px;
}
#Wrapper .contents .cont_05 .inner .videoWrap {
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_05 .inner .videoWrap .video {
  width: 560px;
  height: 315px;
  background: #EEEEEE;
  padding: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  float: left;
}
#Wrapper .contents .cont_05 .inner .videoWrap .menu {
  width: 334px;
  float: right;
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_05 .inner .videoWrap .menu ul li {
  padding-bottom: 10px;
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_05 .inner .videoWrap .menu ul li .txt a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#Wrapper .contents .cont_06 {
  padding: 120px 0;
  background: url(../img/index/cont_bg.png) repeat;
}
#Wrapper .contents .cont_06 .inner .items ul {
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_06 .inner .items ul li {
  width: 316px;
  float: left;
  padding-bottom: 50px;
  min-height: 195px;
  overflow: hidden;
  *zoom: 1;
}
#Wrapper .contents .cont_06 .inner .items ul li .item {
  float: left;
  padding-left: 20px;
  padding-bottom: 15px;
}
#Wrapper .contents .cont_06 .inner .items ul li .txt {
  float: right;
  width: 200px;
  padding-bottom: 15px;
  padding-right: 10px;
}
#Wrapper .contents .cont_06 .inner .items ul li .txt h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
#Wrapper .contents .cont_06 .inner .items ul li .txt dl {
  font-size: 10px;
  line-height: 1.2;
  position: relative;
  min-height: 112px;
}
#Wrapper .contents .cont_06 .inner .items ul li .txt dl dt {
  position: absolute;
  left: 0;
}
#Wrapper .contents .cont_06 .inner .items ul li .txt dl dd {
  padding-left: 85px;
  text-indent: -1em;
  margin-bottom: 4px;
}
#Wrapper .contents .cont_06 .inner .items ul li .btn {
  padding-left: 20px;
}
#Wrapper .contents .cont_06 .inner .items ul li .btn a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#Wrapper .totop {
  clear: both;
  width: 950px;
  margin: 0 auto;
  margin-top: -20px;
  padding: 0;
  text-align: right;
  line-height: 0;
  position: relative;
  z-index: 9999;
}
#Wrapper .totop a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#Wrapper .footer {
  clear: both;
  background: #999999;
  color: #ffffff;
  font-size: 66%;
  text-align: center;
}
#Wrapper .footer .inner {
  width: 950px;
  background: #999999;
  margin: 0 auto;
  padding: 10px 0;
  text-align: left;
}
#Wrapper .footer .inner .footLink {
  float: right;
  width: 380px;
  height: 11px;
  overflow: hidden;
  padding-right: 8px;
  border-right: solid 2px #B0B0B0;
}
#Wrapper .footer .inner .footLink li {
  float: left;
  border-left: solid 2px #B0B0B0;
  margin-left: 7px;
  padding-left: 8px;
}
#Wrapper .footer .inner .footLink li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#Wrapper .footer .inner .logo {
  text-align: left;
  margin-bottom: 12px;
}
#Wrapper .footer .inner .note {
  margin-bottom: 34px;
  text-align: left;
}
#Wrapper .footer .inner .copyright {
  text-align: center;
}

.cont,
.cont > * {
  position: relative;
}

.cont > .particle_view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.cont > .particle_view > p {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -webkit-transform-origin: center center;
  background: #000000;
}
.cont > canvas {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: 0;
}

.kv div.lead,
.kv div.title,
.kv div.copy {
  display: none;
}

.kv div.item li {
  display: none;
}

.kv .nav li {
  top: 0;
  display: none;
}

.contents {
  visibility: hidden;
}