body{background:url(../../img/index/bg.png); border:0px; margin:0px; background-size:contain;overflow-y:scroll; overflow-x:hidden; }
p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
html.agent-ie p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
h2{font-size:20px;line-height:28px;letter-spacing:2px; }
h1{font-size:34px;line-height:40px;letter-spacing:2px;}
@media screen and (min-width:1650px){
	
	p{font-size:18px;line-height:24px;letter-spacing:5px;}
	h2{font-size:30px;line-height:38px; }
	h3{font-size:38px;line-height:38px; }
	h1{font-size:44px;line-height:50px;}
}
@media screen and ( max-width:450px ) {
	h2{font-size:18px;line-height:28px; }
	h3{font-size:22px;line-height:28px; font-weight:500;}
	h1{font-size:32px;line-height:40px;}
}


@-webkit-keyframes p201509070237
{
	0% {opacity:0;-webkit-transform:translate(-30px , 0px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070237
{
	0% {opacity:0;transform:translate(-30px , 0px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@-webkit-keyframes p201509070238
{
	0% {opacity:0;-webkit-transform:translate(0px , 20px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070238
{
	0% {opacity:0;transform:translate(0px , 20px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}

.content01{width:100%;margin:20px auto 0px  auto;height:auto;overflow:hidden;padding-top:120px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s  ; position:relative;}
@-webkit-keyframes p201509070239
{
	0% {opacity:0;}
	50% {opacity:0;}
	100% {opacity:1;}
}
@keyframes p201509070239
{
	0% {opacity:0;}
	50% {opacity:0;}
	100% {opacity:1;}
}

.content01 .left_bg{width:280px; height:800px;position:absolute;left:0px; background:url(../../img/note/bg.jpg) fixed; }
.content01 .left_bg img{width:210px;position:absolute;top:50%; margin-top:-25px; left:50%;margin-left:-105px;}

 .right_list{width:210px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
/*  .right_list.fixed{position:absolute;top:auto;right:0px;bottom:180px;} */
 .right_list .hot_note{width:100%;padding:25px 0px;text-align:center;background-color:#96601c;color:#fff;overflow :hidden; } 
 .right_list .nav{width:100%;}
 .right_list .nav .father{display:block;width:100%;padding:15px 0px; overflow:hidden; margin:0px auto;transition:0.3s;position:relative; border-top:1px solid #96601c;}
 .right_list .nav .father p{ width:90%; margin:0 auto;font-size:14px;display:block;text-align:left;line-height:16px;color:#666;transition:0.3s;letter-spacing:1px; text-align:center;}

.content01 .ietm_area{width:850px;position:relative;margin:0 auto;padding-left:150px;}
.content01  .ietm_area .top_title_box{width:100%;margin-bottom:15px;padding-bottom:15px;height:auto;position:relative; overflow:hidden;}
.content01 .ietm_area  .top_title_box .long_box{width:1500px; overflow:hidden;}
.content01 .ietm_area  .top_title_box .long_box .circle {float:left; width:12px; height:12px; border:3px solid #f4b538; border-radius:25px; margin-top:11px;}
.content01 .ietm_area  .top_title_box .long_box .line_short {float:left;width:30px; height:3px; background-color:#f4b538; margin-left:-2px; margin-top:18px;}
.content01 .ietm_area  .top_title_box .long_box .line_long {float:left;width:1000px; height:3px;background-color:#f4b538; margin-top:18px;}
@font-face{ font-family:bb; src: url(../../fonts/bb.ttf) format("truetype") ;}
.content01 .top_title_box  h1{  float:left;padding-left:10px; padding-right:10px;font-family:"bb"}


.content01 .center_area{width:580px;float:left;min-height:600px;}
.content01 .center_area .text_area{width:100%;}
.content01 .center_area .text_area p{margin-bottom:10px;}
.content01 .center_area .text_area  a{display:block;}
.content01 .center_area .text_area .item_box{width:100%;overflow:hidden;padding:15px 10px 15px 0px;position:relative;background:url(../../img/default/line.png) bottom left repeat-x;transition:0.3s;-webkit-transition:0.3s; }
.content01 .center_area .text_area .item_box:hover{background-color:rgba(255,255,255,0.45); }
.content01 .center_area .text_area .item_box:hover .more{color:#96601c; }
.content01 .center_area .text_area .item_box .text_date_box{width:85%;overflow:hidden;height:auto;float:left; margin-left:15px;margin-top:10px;}
.content01 .center_area .text_area .item_box .text_date_box .date{float:left;padding:3px 10px;background-color:#96601c; margin-bottom:8px;font-size:12px;color:#fff;letter-spacing:1px;}
.content01 .center_area .text_area .item_box .text_date_box .text{float:left;width:100%;}
.content01 .center_area .text_area .item_box .text_date_box .text h2{color:#96601c; margin-bottom:5px;}
.content01 .center_area .text_area .item_box .text_date_box .text p{color:#777;}

.content01 .center_area .text_area .item_box .more{width:55px;position:absolute;right:10px;bottom:10px;transition:0.3s; color:#888;font-size:13px; letter-spacing:1px;}
.content01 .center_area .text_area .item_box .more span{transform:rotate(90deg) scale(0.7);-webkit-transform:rotate(90deg) scale(0.7) ;display:block;float:right;font-size:12px; }

.content01 .center_area .pager_bottom{width:100%;padding-top:30px;}
.content01 .center_area .pageLinks_bg {width:100%; }
.content01 .center_area .pageLinks_bg .pageLinks{margin-bottom:0px;text-align:center;color:#555; float:right;}
.content01 .center_area .pageLinks_bg .pageLinks a{display:block;float:left;width:20px;height:20px;float:left;margin:5px 5px;text-align:center;color:#888;border-radius:5px;padding:3px;}
.content01 .center_area .pageLinks_bg .pageLinks strong:hover,
.content01 .center_area .pageLinks_bg .pageLinks strong{float:left;margin:5px 5px;background:#b18850;color:#FFF;width:20px;height:20px;border-radius:5px;padding:3px;}

.pageLinks .page{display:none;}

.pageLinks .next{float:left;display:block;height:30px;margin-top:2px;background:url(../../img/note/pager.png) no-repeat center center;background-size:contain;opacity:0.5;transform:scale(-1);-webkit-transform:scale(-1);text-indent:-9999px;}
.pageLinks .next:hover{opacity:1;}
.pageLinks .prev{float:left;display:block;height:30px;margin-top:2px;background:url(../../img/note/pager.png) no-repeat center center;background-size:contain;opacity:0.5;margin-right:5px;text-indent:-9999px;}
.pageLinks .prev:hover{opacity:1;}
.pageLinks .first{float:left;margin-right:10px;display:none;}
.pageLinks .first a{text-decoration:underline;display:none;}
.pageLinks .last{float:left;margin-left:10px;text-decoration:underline;display:none;}
.pageLinks .last a{text-decoration:underline;display:none;}

@media screen and (min-width:1601px){
	
	
	.content01{width:100%;margin:20px auto 0px  auto;height:auto;overflow:hidden;padding-top:120px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s  ; position:relative;}
	.content01 .left_bg{width:380px; height:900px;position:absolute;left:0px; background:url(../../img/note/big_bg.jpg) fixed;}
	.content01 .left_bg img{width:210px;position:absolute;top:50%; margin-top:-25px; left:50%;margin-left:-105px;}

	 .right_list{width:240px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
	/*  .right_list.fixed{position:absolute;top:auto;right:0px;bottom:180px;} */
	 .right_list .hot_note{width:100%;padding:25px 0px;text-align:center;background-color:#96601c;color:#fff;overflow :hidden; } 
	 .right_list .nav{width:100%;}
	 .right_list .nav .father{display:block;width:100%;padding:20px 0px; overflow:hidden; margin:0px auto;transition:0.3s;position:relative; border-top:1px solid #96601c;}
	 .right_list .nav .father p{ width:90%; margin:0 auto;font-size:18px;display:block;text-align:left;line-height:16px;color:#666;transition:0.3s;letter-spacing:1px; text-align:center;}

	 .content01 .top_title_box  h1{ margin-top:-5px;}
	 
	.content01 .ietm_area{width:1150px;position:relative;margin:0 auto;padding-left:150px;}
	.content01 .center_area{width:850px;float:left;min-height:600px;}
	.content01 .center_area .text_area .item_box .more{width:65px;font-size:15px; }
	.content01 .center_area .text_area .item_box .more span{font-size:13px; }
	
	 
	.right_list .nav .father p{ font-size:18px;}
		
	
}

@media screen and (max-width:1600px) and (min-width: 1400px){
	
	.content01{width:100%;margin:20px auto 0px  auto;height:auto;overflow:hidden;padding-top:120px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s  ; position:relative;}
	.content01 .left_bg{width:300px; height:780px;position:absolute;left:0px; background:url(../../img/note/big_bg.jpg) fixed; background-size:contain; }
	.content01 .left_bg img{width:210px;position:absolute;top:50%; margin-top:-25px; left:50%;margin-left:-105px;}

	 .right_list{width:210px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
	.content01 .ietm_area{width:960px;position:relative;margin:0 auto;padding-left:150px;}
	.content01 .center_area{width:700px;float:left;min-height:600px;}
	
}

@media screen and ( max-width:960px ) and (min-width:700px) {

	.content01 .left_bg{ display:none; }
	.right_list{width:200px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
	.content01 .ietm_area{width:700px;position:relative;margin:0 auto;padding-left:0px;}
	.content01 .center_area{width:460px;float:left;min-height:600px;}

	
}

@media screen and (max-width: 700px) {
	
	.content01{width:100%;margin:20px auto 80px  auto;height:auto;overflow:hidden;padding-top:0px;-webkit-animation:none;animation:none ; position:relative;}
	.content01 .left_bg{ display:none; }
	 .right_list{ display:none;width:210px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
	/*  .right_list.fixed{position:absolute;top:auto;right:0px;bottom:180px;} */
	 .right_list .hot_note{width:100%;padding:25px 0px;text-align:center;background-color:#96601c;color:#fff;overflow :hidden; } 
	 .right_list .nav{width:100%;}
	 .right_list .nav .father{display:block;width:100%;padding:15px 0px; overflow:hidden; margin:0px auto;transition:0.3s;position:relative; border-top:1px solid #96601c;}
	 .right_list .nav .father p{ width:90%; margin:0 auto;font-size:14px;display:block;text-align:left;line-height:16px;color:#666;transition:0.3s;letter-spacing:1px; text-align:center;}

	.content01 .ietm_area{width:90%;position:relative;margin:0 auto;padding-left:0px;}
	.content01  .ietm_area .top_title_box{width:100%;margin-bottom:0px;padding-bottom:15px;height:auto;position:relative; overflow:hidden;}
	.content01 .ietm_area  .top_title_box .long_box{width:1500px; overflow:hidden;}
	.content01 .ietm_area  .top_title_box .long_box .circle {float:left; width:8px; height:8px; border:3px solid #f4b538; border-radius:25px; margin-top:14px;}
	.content01 .ietm_area  .top_title_box .long_box .line_short {display:none;}
	.content01 .ietm_area  .top_title_box .long_box .line_long {float:left;width:1000px; height:3px;background-color:#f4b538; margin-top:18px;}
	@font-face{ font-family:bb; src: url(../../fonts/bb.ttf) format("truetype") ;}
	.content01 .top_title_box  h1{  float:left;padding-left:10px; padding-right:10px;font-family:"bb"}


	.content01 .center_area{width:100%;float:none;min-height:600px; margin:0 auto;}
	.content01 .center_area .text_area{width:100%;}
	.content01 .center_area .text_area p{margin-bottom:20px;}
	.content01 .center_area .text_area .item_box{width:100%;overflow:hidden;padding:15px 10px 15px 0px;}
	.content01 .center_area .text_area .item_box .text_date_box{width:100%;overflow:hidden;height:auto;float:left; margin-left:0px;}
	
	
}

