body{background:url(../../img/index/bg.png); border:0px; margin:0px; background-size:contain;overflow-y:scroll; overflow-x:hidden; }
p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
html.agent-ie p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
h2{font-size:20px;line-height:28px;letter-spacing:2px; }
h1{font-size:34px;line-height:40px;letter-spacing:2px;}
@media screen and (min-width:1650px){
	
	p{font-size:18px;line-height:24px;letter-spacing:5px;}
	h2{font-size:30px;line-height:38px; }
	h3{font-size:38px;line-height:38px; }
	h1{font-size:44px;line-height:50px;}
}
@media screen and ( max-width:450px ) {
	h2{font-size:18px;line-height:28px; }
	h3{font-size:22px;line-height:28px; font-weight:500;}
	h1{font-size:30px;line-height:40px;}
}


@-webkit-keyframes p201509070237
{
	0% {opacity:0;-webkit-transform:translate(-30px , 0px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070237
{
	0% {opacity:0;transform:translate(-30px , 0px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@-webkit-keyframes p201509070238
{
	0% {opacity:0;-webkit-transform:translate(0px , 20px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070238
{
	0% {opacity:0;transform:translate(0px , 20px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}



@media screen and (min-width:1400px){
	
	
	

}
@media screen and ( max-width:699px ) and (min-width: 700px) {
	
	
	
	
}
@media screen and (max-width: 700px){
	
	
	

}
.content01{width:900px;margin:40px auto 50px  auto;height:auto;overflow:hidden;padding-top:120px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s  ;}
@-webkit-keyframes p201509070239
{
	0% {opacity:0;}
	50% {opacity:0;}
	100% {opacity:1;}
}
@keyframes p201509070239
{
	0% {opacity:0;}
	50% {opacity:0;}
	100% {opacity:1;}
}

 .right_list{width:210px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
/*  .right_list.fixed{position:absolute;top:auto;right:0px;bottom:180px;} */
 .right_list .hot_note{width:100%;padding:25px 0px;text-align:center;background-color:#96601c;color:#fff;overflow :hidden; } 
 .right_list .nav{width:100%;}
 .right_list .nav .father{display:block;width:100%;padding:15px 0px; overflow:hidden; margin:0px auto;transition:0.3s;position:relative; border-top:1px solid #96601c;}
 .right_list .nav .father p{ width:90%; margin:0 auto;font-size:14px;display:block;text-align:left;line-height:16px;color:#666;transition:0.3s;letter-spacing:1px; text-align:center;}

.content01 .ietm_area{width:100%; float:left;position:relative; }
.content01  .ietm_area .top_title_box{width:100%;margin-bottom:15px;padding-bottom:15px;height:auto;position:relative; overflow:hidden;}
.content01 .ietm_area  .top_title_box .long_box{width:1500px; overflow:hidden;}
.content01 .ietm_area  .top_title_box .long_box .circle {float:left; width:12px; height:12px; border:3px solid #f4b538; border-radius:25px; margin-top:11px;}
.content01 .ietm_area  .top_title_box .long_box .line_short {float:left;width:30px; height:3px; background-color:#f4b538; margin-left:-2px; margin-top:18px;}
.content01 .ietm_area  .top_title_box .long_box .line_long {float:left;width:1000px; height:3px;background-color:#f4b538; margin-top:18px;}
@font-face{ font-family:bb; src: url(../../fonts/bb.ttf) format("truetype") ;}
.content01 .top_title_box  h1{  float:left;padding-left:10px; padding-right:10px;font-family:"bb"}

 
.content01 .center_area{width:650px;float:left;min-height:600px; overflow:hidden;background:url(../../img/default/line.png) bottom left repeat-x; padding-bottom:80px; position:relative;}
.content01 .center_area .text_area{width:100%;}
.content01 .center_area .text_area .title_box{ width:100%; margin:0px 0px 15px 0px; overflow:hidden;}
.content01 .center_area .text_area .title_box .title{color:#96601c;font-size:28px; letter-spacing:1.5px; padding:0px 0px 20px 0px;font-weight:500;}
.content01 .center_area .text_area .title_box .date{ font-size:14px;color:#96601c;float:right;letter-spacing:1.5px;}
.content01 .center_area .text_area .title_box .date .line{width:40px;height:1px;background:#96601c;float:left; margin:7px 10px;}
.content01 .center_area .text_area img{ display:block;margin:0px auto;}

.content01 .center_area  .more{width:65px;position:absolute;right:10px;bottom:10px;transition:0.3s; color:#888;font-size:13px; letter-spacing:1px;}
.content01 .center_area  .more span{transform:rotate(-90deg) scale(0.7);-webkit-transform:rotate(-90deg) scale(0.7) ;display:block;float:left;font-size:12px; margin-right:5px;  }


@media screen and (min-width:1650px){

	.content01{width:1250px;margin:40px auto 50px  auto;height:auto;overflow:hidden;padding-top:120px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s  ;}
	
	.right_list{width:240px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
	
	.content01 .ietm_area{width:100%; float:left;position:relative; }
	.content01  .ietm_area .top_title_box{width:100%;margin-bottom:15px;padding-bottom:15px;height:auto;position:relative; overflow:hidden;}
	.content01 .ietm_area  .top_title_box .long_box{width:1500px; overflow:hidden;}
	.content01 .ietm_area  .top_title_box .long_box .line_long {float:left;width:1200px; height:3px;background-color:#f4b538; margin-top:18px;}
	@font-face{ font-family:bb; src: url(../../fonts/bb.ttf) format("truetype") ;}
	.content01 .top_title_box  h1{ margin-top:-5px;}


	 
	.content01 .center_area{width:950px;float:left;min-height:600px; overflow:hidden;background:url(../../img/default/line.png) bottom left repeat-x; padding-bottom:80px; position:relative;}
	.content01 .center_area .text_area{width:100%;}
	.content01 .center_area .text_area .title_box{ width:100%; margin:0px 0px 15px 0px; overflow:hidden;}
	.content01 .center_area .text_area .title_box .title{color:#96601c;font-size:38px; letter-spacing:1.5px; padding:0px 0px 20px 0px;font-weight:500;}
	.content01 .center_area .text_area .title_box .date{ font-size:14px;color:#96601c;float:right;letter-spacing:1.5px;}
	.content01 .center_area .text_area .title_box .date .line{width:40px;height:1px;background:#96601c;float:left; margin:7px 10px;}
	.content01 .center_area .text_area img{ display:block;margin:0px auto;}

	.content01 .center_area  .more{width:65px;position:absolute;right:10px;bottom:10px;transition:0.3s; color:#888;font-size:13px; letter-spacing:1px;}
	.content01 .center_area  .more span{transform:rotate(-90deg) scale(0.7);-webkit-transform:rotate(-90deg) scale(0.7) ;display:block;float:left;font-size:12px; margin-right:5px;  }
	
	.right_list .nav .father p{ font-size:18px;}
	
}

@media screen and (max-width:1600px) and (min-width:1400px ){

	.content01{width:1050px;margin:40px auto 50px  auto;height:auto;overflow:hidden;padding-top:120px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s  ;}
	.right_list{width:210px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
	.content01 .ietm_area{width:100%; float:left;position:relative; }
	.content01 .center_area{width:790px;float:left;min-height:600px; overflow:hidden;background:url(../../img/default/line.png) bottom left repeat-x; padding-bottom:80px; position:relative;}
	
}


@media screen and ( max-width:960px ) and (min-width: 700px) {

	.content01{width:700px;margin:40px auto 0px  auto;height:auto;overflow:hidden;padding-top:120px; }
	
	 .right_list{width:210px;height:auto;float:right; border:1px solid #96601c; background-color:rgba(255,255,255,0.4); /* position:fixed;top:220px;right:170px; */}
	/*  .right_list.fixed{position:absolute;top:auto;right:0px;bottom:180px;} */
	 .right_list .hot_note{width:100%;padding:25px 0px;text-align:center;background-color:#96601c;color:#fff;overflow :hidden; } 
	 .right_list .nav{width:100%;}
	 .right_list .nav .father{display:block;width:100%;padding:15px 0px; overflow:hidden; margin:0px auto;transition:0.3s;position:relative; border-top:1px solid #96601c;}
	 .right_list .nav .father p{ width:90%; margin:0 auto;font-size:14px;display:block;text-align:left;line-height:16px;color:#666;transition:0.3s;letter-spacing:1px; text-align:center;}

	.content01 .ietm_area{width:100%; float:left;position:relative; }
	

	.content01 .center_area{width:460px;float:left;min-height:600px; overflow:hidden;background:url(../../img/default/line.png) bottom left repeat-x; padding-bottom:80px; position:relative;}
	.content01 .center_area  .more{width:65px;position:absolute;right:10px;bottom:10px;transition:0.3s; color:#888;font-size:13px; letter-spacing:1px;}
	.content01 .center_area  .more span{transform:rotate(-90deg) scale(0.7);-webkit-transform:rotate(-90deg) scale(0.7) ;display:block;float:left;font-size:12px; margin-right:5px;  }

	
			

}

@media screen and (max-width: 700px) {
	
	
	.content01{width:90%;margin:40px auto 80px  auto;height:auto;overflow:hidden;padding-top:0px; }
	 .right_list{display:none;}
	/*  .right_list.fixed{position:absolute;top:auto;right:0px;bottom:180px;} */
	.content01 .ietm_area{width:100%; float:left;position:relative; }
	.content01  .ietm_area .top_title_box{width:100%;margin-bottom:15px;padding-bottom:15px;height:auto;position:relative; overflow:hidden;}
	.content01 .ietm_area  .top_title_box .long_box .line_short {display:none;}
	.content01 .ietm_area  .top_title_box .long_box .circle {float:left; width:8px; height:8px; border:3px solid #f4b538; border-radius:25px; margin-top:14px;}

	
	.content01 .center_area{width:100%;float:none;min-height:600px; overflow:hidden;background:url(../../img/default/line.png) bottom left repeat-x; padding-bottom:80px; position:relative;}

	.content01 .center_area .text_area img{width:100%; display:block;margin:0px auto;}
	
	
}

