body{background:url(../../img/index/bg.png) fixed; border:0px; margin:0px; background-size:contain;overflow-y:scroll; overflow-x:hidden; }
p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
html.agent-ie p{font-size:14px;line-height:22px;letter-spacing:2px;font-family:Times New Roman  , LiHei Pro, "儷黑體" , sans-serif ;}
h2{font-size:20px;line-height:28px;letter-spacing:2px; }
h1{font-size:34px;line-height:40px;letter-spacing:2px;}
@media screen and (min-width:1400px){
	
	p{font-size:18px;line-height:24px;letter-spacing:5px;}
	h2{font-size:30px;line-height:38px; }
	h3{font-size:38px;line-height:38px; }
	h1{font-size:44px;line-height:50px;}
}
@media screen and ( max-width:450px ) {
	
	h2{font-size:18px;line-height:28px; }
	h3{font-size:22px;line-height:28px; font-weight:500;}
	h1{font-size:32px;line-height:40px;}
}

.top_banner_box{width:100%; height:149px;position:relative;margin-top:70px;background:url(../../img/showpiece/bg.jpg); background-size:cover; overflow:hidden;}
.top_banner_box .text_box{width:600px; height:60px; margin:50px auto 0 auto; }
.top_banner_box h2{font-size:18px;letter-spacing:2px;color:#fff;line-height:22px;font-family:"bb";-webkit-animation:p201509070238 1.6s ;animation: p201509070238 1.6s  ;}

	
@-webkit-keyframes p201509070237
{
	0% {opacity:0;-webkit-transform:translate(-30px , 0px );}
	100% {opacity:1;-webkit-transform:translate(0px , 0px );}
}
@keyframes p201509070237
{
	0% {opacity:0;transform:translate(-30px , 0px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@-webkit-keyframes p201509070238
{
	0% {opacity:0;transform:translate(0px , 20px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}
@keyframes p201509070238
{
	0% {opacity:0;transform:translate(0px , 20px );}
	100% {opacity:1;transform:translate(0px , 0px );}
}


@media screen and (min-width:1600px){
	.top_banner_box{width:100%; height:199px;}
	.top_banner_box .text_box{  margin:80px auto 0 auto; }
	.top_banner_box h2{font-size:24px;letter-spacing:2.5px;color:#fff;line-height:32px;}
	
	
}

@media screen and (max-width:1599px) and (min-width:1400px){
	.top_banner_box{width:100%; height:169px;}
	.top_banner_box .text_box{  margin:70px auto 0 auto; }
	
}
@media screen and ( max-width:1024px ) and (min-width: 960px) {

	.top_banner_box{width:100%; height:149px;position:relative;margin-top:70px;background:url(../../img/showpiece/bg.jpg) 80% 50% ; }

}
@media screen and ( max-width:960px ) and (min-width: 700px) {

	.top_banner_box{display:block;background:url(../../img/showpiece/bg_mobile.jpg) right; background-size:cover; overflow:hidden;}
	.top_banner_box .text_box{ width:500px;height:60px; margin:50px auto 0 auto; }
	.top_banner_box h2{ }
	

}
@media screen and (max-width: 700px){

	.top_banner_box{display:block;height:119px;margin-top:-20px;background:url(../../img/showpiece/bg_mobile.jpg) right; background-size:cover; overflow:hidden;}
	.top_banner_box .text_box{width:300px; height:60px; margin:35px auto 0 auto; }
	.top_banner_box h2{ width:170px;font-size:16px;line-height:18px;}
}


.content01{width:960px;margin:40px auto 0px  auto;height:auto;overflow:hidden;padding-top:20px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s ; }
@-webkit-keyframes p201509070239
{
	0% {opacity:0;}
	50% {opacity:0;}
	100% {opacity:1;}
}
@keyframes p201509070239
{
	0% {opacity:0;}
	50% {opacity:0;}
	100% {opacity:1;}
}

.content01 .left_area{width:240px;height:auto;float:left;margin-top:0px; border:2px solid #955f1c;}
.content01 .left_area .nav{width:100%; }
.content01 .left_area .nav .list_title{width:100%; padding:25px 0px; background-color:#955f1c; text-align:center; color:#fff; font-size:19px; letter-spacing:1px;}
.content01 .left_area .nav .father_item{display: block; width: 100%; padding:0px 0px 0px 0px; min-height:55px; height: auto; color: #955f1c;letter-spacing:2px;transition:0.3s;-webkit-transition:0.3s;border-bottom:1px solid rgba(255,255,255,0.2); position:relative;border-top:2px solid #955f1c;background:rgba(255,255,255,0.4);}
.content01 .left_area .nav .father_item:nth-of-type(1){border-top:0px;}
.content01 .left_area .nav .father_item p{ width:100%;display:block; font-size:16px;text-align:center;line-height:55px; }
.content01 .left_area .nav .father_item:hover{}
.content01 .left_area .nav .father_item .child_item{width:100%;display:none;padding:10px 0px 15px 0px; overflow:hidden; border-top:1px dashed #955f1c;background:rgba(244,181,56,0.4);}
.content01 .left_area .nav .father_item .child_item a{ display:block;height:auto; width:90%;padding: 10px 0px 10px 15px;color:#955f1c; line-height:22px;margin:0 auto;overflow:hidden; }
.content01 .left_area .nav .father_item .child_item a .item{ float:left; width:85%;}
.content01 .left_area .nav .father_item .child_item a span{ display:block;width:5px; height:5px;border:2px solid #955f1c; border-radius:15px; float:left; margin-top:7px; margin-right:10px;}
.content01 .left_area .nav .father_item .child_item a:hover span{ background:#955f1c; }
.content01 .left_area .nav .father_item .child_item.active{display:block;}
.content01 .left_area .nav .father_item img{width:6px;position:absolute;right:15px; top:23px; transition:0.3s;-webkit-transition:0.3s;}
.content01 .left_area .nav .father_item.active  img{transform: rotate(90deg); -webkit-transform: rotate(90deg); margin-top:2px;}
	
.content01 .left_area .nav .father_item.active{display:block; }
.content01 .left_area .phone_nav{display:none;}


@font-face{ font-family:bb; src: url(../../fonts/bb.ttf) format("truetype") ;}
.content01 .right_area{width:640px;float:right;background:url(../../img/default/line2.png) top left repeat-y; padding-left:40px;}
.content01 .right_area .navigation_box{ font-size:12px; overflow:hidden; margin-bottom:8px; letter-spacing:1px; float:right;color:#666;}
.content01 .right_area .navigation_box a{ color:#666;}
.content01 .right_area .navigation_box .color{ color:#955f1c;}
.content01 .right_area .top_title_box{width:100%;margin-bottom:15px;padding-bottom:15px;height:auto;/* background:url(../../img/default/line.png) bottom left repeat-x; */position:relative; overflow:hidden;}
.content01 .right_area .top_title_box .long_box{width:1500px; overflow:hidden;}
.content01 .right_area .top_title_box .long_box .circle {float:left; width:12px; height:12px; border:3px solid #f4b538; border-radius:25px; margin-top:11px;}
.content01 .right_area .top_title_box .long_box .line_short {float:left;width:30px; height:3px; background-color:#f4b538; margin-left:-2px; margin-top:18px;}
.content01 .right_area .top_title_box .long_box .line_long {float:left;width:600px; height:3px;background-color:#f4b538; margin-top:18px;}
.content01 .right_area .top_title_box .long_box  h1{  float:left;padding-left:13px; padding-right:11px;font-family:"bb" ;font-size:30px;}
.content01 .right_area .text_area{width:100%;overflow:hidden; font-size:14px; color:#444; line-height:20px; letter-spacing:1px;}

.content01 .right_area  .prev{ display:block;color:#555; width:60px;float:right; overflow:hidden; margin:40px 0px; letter-spacing:1px; }
.content01 .right_area  .prev .arrow{ width:15px;height:15px; float:right; transform:rotate(90deg);  font-size:12px; margin-top:3px;}
.content01 .right_area  .prev:hover{ color:#955f1c;}

@media screen and (min-width:1600px){
	
	.content01{width:1250px;padding-top:30px;}
	.content01 .left_area{width:300px;}
	.content01 .left_area .nav{width:300px; }
	.content01 .left_area .nav .list_title{width:100%; padding:30px 0px; font-size:24px; letter-spacing:3px;}
	.content01 .left_area .nav .father_item{display: block; width: 100%; padding:0px 0px 0px 0px;min-height:60px; }
	.content01 .left_area .nav .father_item p{ width:100%;display:block; font-size:18px;line-height:60px; }
	.content01 .left_area .nav .father_item .child_item{width:100%;display:none;padding:13px 0px 18px 0px;font-size:18px;}
	.content01 .left_area .nav .father_item .child_item a{padding: 8px 0px 8px 15px; line-height:24px;font-size:18px;}
	.content01 .left_area .nav .father_item .child_item a .item{ float:left; width:85%;}
	.content01 .left_area .nav .father_item .child_item a span{ display:block;width:6px; height:6px; margin-right:8px;}
	.content01 .left_area .nav .father_item img{width:8px;position:absolute;right:15px; top:23px; }
	
	.content01 .right_area{width:860px;padding-left:50px;}
	.content01 .right_area .navigation_box{ font-size:14px;letter-spacing:1.5px; }
	.content01 .right_area .top_title_box{width:100%;margin-bottom:10px;padding-bottom:10px;height:auto;}
	.content01 .right_area .top_title_box .long_box .circle {width:12px; height:12px; border:3px solid #f4b538; border-radius:25px; margin-top:14px;}
	.content01 .right_area .top_title_box .long_box .line_short {background-color:#f4b538; margin-left:-2px; margin-top:21px;}
	.content01 .right_area .top_title_box .long_box .line_long {background-color:#f4b538; margin-top:21px;}
	.content01 .right_area .top_title_box .long_box  h1{font-size:38px;}

	.content01 .right_area .text_area{width:100%;overflow:hidden; font-size:18px;line-height:24px; letter-spacing:2px;}
	

		
}


@media screen and ( max-width:960px ) and (min-width: 700px) {
	.content01{width:630px;margin:40px auto 0px  auto;height:auto;overflow:hidden;}
	.content01 .left_area{width:160px;height:auto;float:left;margin-top:0px; border:2px solid #955f1c;}
	.content01 .left_area .nav{width:100%; }
	.content01 .left_area .nav .list_title{width:100%; letter-spacing:1.5px;}
	.content01 .left_area .nav .father_item p{ width:100%;display:block; font-size:14px; }
	.content01 .left_area .nav .father_item:hover{}
	.content01 .left_area .nav .father_item .child_item a{  font-size:14px;padding: 6px 0px 6px 8px;}
	.content01 .left_area .nav .father_item .child_item a .item{ float:left; width:80%;}

	.content01 .left_area .nav .father_item .child_item a span{ margin-right:5px;}
	.content01 .right_area{width:400px;}
	.content01 .right_area .top_title_box{width:100%;margin-bottom:10px;padding-bottom:10px;}
	.content01 .right_area .top_title_box .long_box  h1{  float:left;padding-left:10px; padding-right:11px;font-family:"bb" ; font-size:30px;}
	
	
	.content01 .right_area .text_area{width:100%;overflow:hidden;}
	

	
}




@media screen and ( max-width:700px ) {
	
		.content01 .left_area{display:none;}
		
		.content01{width:100%;margin:40px auto 40px  auto;height:auto;overflow:hidden;padding-top:0px;-webkit-animation:p201509070239 1s ;animation: p201509070239 1s ; }
		.content01 .right_area{width:300px;float:none;background:none; padding-left:0px; margin:0 auto;}
		.content01 .right_area .navigation_box{ font-size:12px; overflow:hidden; margin-bottom:8px; letter-spacing:1px; float:right;color:#666;}
		.content01 .right_area .navigation_box .color{ color:#955f1c;}
		.content01 .right_area .top_title_box{width:100%;margin-bottom:15px;padding-bottom:15px;height:auto;/* background:url(../../img/default/line.png) bottom left repeat-x; */position:relative; overflow:hidden;}
		.content01 .right_area .top_title_box .long_box{width:1500px; overflow:hidden;}
		.content01 .right_area .top_title_box .long_box .circle {float:left; width:8px; height:8px; border:3px solid #f4b538; border-radius:25px; margin-top:14px;}
		.content01 .right_area .top_title_box .long_box .line_short {display:none;}
		.content01 .right_area .top_title_box .long_box .line_long {float:left;width:1000px; height:3px;background-color:#f4b538; margin-top:18px;}
		.content01 .right_area .top_title_box .long_box  h1{  float:left;padding-left:8px; padding-right:10px;}

		.content01 .right_area .text_area{width:100%;overflow:hidden;}
		.content01 .right_area .text_area .item_box{ display:block;width:296px;margin:0 auto; margin-right:0px;margin-bottom:15px;height:100px; overflow:hidden;float:none;}
		.content01 .right_area .text_area .right_box{float:left;width:193px; }
		.content01 .right_area .text_area .right_box .text{width:98%; }
		.content01 .right_area .text_area .right_box .text .p{width:150px;}
		.content01 .right_area .text_area .item_box .arrow{right:3px; }



	
}















